<form [formGroup]="form" (ngSubmit)="search()" class="category-filter">
  <div class="category-filter-fields">
    <sn-input
      label="Nome"
      placeholder="Digite o nome"
      type="text"
      autocomplete="off"
      formControlName="name"
    />

    <sn-input
      label="Descrição"
      placeholder="Digite a descrição"
      type="text"
      autocomplete="off"
      formControlName="description"
    />
  </div>

  <div class="filter-actions">
    <sn-button
      type="button"
      variant="stroked"
      icon="backspace"
      label="Limpar filtros"
      (click)="clear()"
    />

    <sn-button type="submit" variant="raised" icon="search" label="Pesquisar" />
  </div>
</form>
