<div class="page-container">
  <app-page-header
    [titleInput]="isEdit ? 'Atualizar Produto' : 'Cadastro de Produto'"
    [pathToBack]="'product'"
    [isGrid]="false"
  />

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="tab-content">
      <div class="content-card">
        <div class="form-row">
          <div class="product-main-fields">
            <sn-input
              label="Nome"
              placeholder="Digite o nome"
              type="text"
              autocomplete="off"
              formControlName="name"
            />

            <sn-input
              label="Velocidade de download"
              placeholder="Mbps"
              type="number"
              [min]="0"
              formControlName="speedDownload"
            />

            <sn-input
              label="Velocidade de upload"
              placeholder="Mbps"
              type="number"
              [min]="0"
              formControlName="speedUpload"
            />
          </div>

          <mat-form-field appearance="outline" class="value-field">
            <mat-label>Taxa de adesão</mat-label>

            <input
              matInput
              type="text"
              inputmode="decimal"
              placeholder="R$ 0,00"
              formControlName="taxaAdesao"
              currencyMask
              [currencyMask]="{
                prefix: 'R$ ',
                thousands: '.',
                decimal: ',',
                precision: 2,
              }"
            />

            @if (form.controls.taxaAdesao.touched && form.controls.taxaAdesao.invalid) {
              <mat-error>
                <app-form-error [control]="form.controls.taxaAdesao" />
              </mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" class="value-field">
            <mat-label>Valor Wi-Fi</mat-label>

            <input
              matInput
              type="text"
              inputmode="decimal"
              placeholder="R$ 0,00"
              formControlName="valueWifi"
              currencyMask
              [currencyMask]="{
                prefix: 'R$ ',
                thousands: '.',
                decimal: ',',
                precision: 2,
              }"
            />

            @if (form.controls.valueWifi.touched && form.controls.valueWifi.invalid) {
              <mat-error>
                <app-form-error [control]="form.controls.valueWifi" />
              </mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" class="value-field">
            <mat-label>Valor</mat-label>

            <input
              matInput
              type="text"
              inputmode="decimal"
              placeholder="R$ 0,00"
              formControlName="value"
              currencyMask
              [currencyMask]="{
                prefix: 'R$ ',
                thousands: '.',
                decimal: ',',
                precision: 2,
              }"
            />

            @if (form.controls.value.touched && form.controls.value.invalid) {
              <mat-error>
                <app-form-error [control]="form.controls.value" />
              </mat-error>
            }
          </mat-form-field>

          <sn-select formControlName="categoryId" [options]="categories()" label="Categoria" />

          <mat-form-field appearance="outline" class="observacoes-field">
            <mat-label>Descrição</mat-label>

            <textarea
              matInput
              rows="5"
              placeholder="Digite uma descrição..."
              formControlName="description"
            ></textarea>

            @if (form.controls.description.touched && form.controls.description.invalid) {
              <mat-error>
                <app-form-error [control]="form.controls.description" />
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <sn-button
        type="button"
        variant="stroked"
        icon="cancel"
        label="Cancelar"
        routerLinkTo="/product"
      />

      <sn-button
        type="submit"
        variant="raised"
        icon="save"
        [label]="isEdit ? 'Atualizar' : 'Salvar'"
      />
    </div>
  </form>
</div>
