<div class="form-container">
  <div class="contact-header">
    <div class="contact-title">
      <span>Contato {{ index + 1 }}</span>

      @if (form.controls['primaryContact'].value) {
        <span class="primary-badge"> Principal </span>
      }
    </div>

    <sn-button
      variant="icon"
      icon="delete"
      color="warn"
      ariaLabel="Remover contato"
      title="Remover contato"
      (click)="remover()"
    />
  </div>

  <div [formGroup]="form" class="form">
    <sn-input
      label="Nome"
      placeholder="E-mail ou telefone"
      type="text"
      autocomplete="off"
      formControlName="value"
      appContact
    />

    <div class="contact-options">
      <mat-checkbox formControlName="whatsapp"> WhatsApp </mat-checkbox>

      <mat-checkbox formControlName="primaryContact" (change)="primaryChanged.emit($event.checked)">
        Contato principal
      </mat-checkbox>
    </div>
  </div>
</div>
