<div class="page-container">
  <app-page-header
    [titleInput]="id ? 'Atualizar Categoria' : 'Cadastro de Categoria'"
    [pathToBack]="'category'"
    [isGrid]="false"
  />

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="content-card">
      <div class="form-grid">
        <sn-input
          label="Nome"
          placeholder="Nome da categoria"
          type="text"
          autocomplete="off"
          formControlName="name"
        />

        <mat-form-field appearance="outline" class="description-field">
          <mat-label>Descrição</mat-label>

          <textarea
            matInput
            formControlName="description"
            placeholder="Descrição da categoria"
            rows="5"
          ></textarea>

          @if (form.controls.description.touched && form.controls.description.invalid) {
            <mat-error>
              <app-form-error [control]="form.controls.description" />
            </mat-error>
          }
        </mat-form-field>
      </div>
    </div>

    <div class="form-actions">
      <sn-button type="button" variant="stroked" label="Cancelar" routerLinkTo="/category" />

      <sn-button type="submit" variant="raised" icon="save" [label]="id ? 'Atualizar' : 'Salvar'" />
    </div>
  </form>
</div>
