<div class="page-container">
  <form [formGroup]="form" (ngSubmit)="search()">
    <div class="content-card">
      <div class="filter-header">
        <div class="filter-title">
          <div class="title-line">
            <mat-icon>filter_list</mat-icon>
            <h3>Filtros de produtos</h3>
          </div>

          <p>Informe os dados que deseja utilizar para localizar os produtos.</p>
        </div>

        <div class="filter-actions">
          <sn-button
            type="button"
            variant="stroked"
            icon="backspace"
            label="Limpar filtros"
            (click)="clear()"
          />

          <sn-button type="submit" variant="raised" icon="search" label="Pesquisar" />
        </div>
      </div>

      <div class="form-grid">
        <sn-input
          label="Nome"
          placeholder="Informe o nome"
          type="text"
          autocomplete="off"
          formControlName="name"
        />

        <sn-input
          label="Descrição"
          placeholder="Informe a descrição"
          type="text"
          autocomplete="off"
          formControlName="description"
        />

        <mat-form-field appearance="outline">
          <mat-label>Data de criação</mat-label>

          <input matInput [matDatepicker]="picker" formControlName="creationDate" />

          <mat-datepicker-toggle matIconSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon> calendar_month </mat-icon>
          </mat-datepicker-toggle>

          <mat-datepicker #picker />
        </mat-form-field>
      </div>

      <mat-expansion-panel class="advanced-filters">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon style="margin-right: 10px"> tune </mat-icon>

            Filtros avançados
          </mat-panel-title>

          <mat-panel-description> Velocidade, categoria e valores </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="form-grid">
          <sn-input
            label="Velocidade de download"
            placeholder="Mbps"
            type="number"
            [min]="0"
            formControlName="speedDownload"
          />

          <sn-input
            label="Velocidade de upload"
            placeholder="Mbps"
            type="number"
            [min]="0"
            formControlName="speedUpload"
          />

          <sn-select
            formControlName="categoryId"
            [options]="categories()"
            label="Categoria"
            [multiple]="false"
          />

          <mat-form-field appearance="outline">
            <mat-label>Taxa de adesão</mat-label>

            <input
              matInput
              type="text"
              inputmode="decimal"
              formControlName="taxaAdesao"
              placeholder="R$ 0,00"
              currencyMask
              [currencyMask]="{
                prefix: 'R$ ',
                thousands: '.',
                decimal: ',',
                precision: 2,
              }"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Valor Wi-Fi</mat-label>

            <input
              matInput
              type="text"
              inputmode="decimal"
              formControlName="valueWifi"
              placeholder="R$ 0,00"
              currencyMask
              [currencyMask]="{
                prefix: 'R$ ',
                thousands: '.',
                decimal: ',',
                precision: 2,
              }"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Valor do produto</mat-label>

            <input
              matInput
              type="text"
              inputmode="decimal"
              formControlName="value"
              placeholder="R$ 0,00"
              currencyMask
              [currencyMask]="{
                prefix: 'R$ ',
                thousands: '.',
                decimal: ',',
                precision: 2,
              }"
            />
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </div>
  </form>
</div>
